#gorilla-logo {
  border: none;
  box-shadow: none;
  background: none;
}

code.language-javascript, pre.language-javascript {
  background: #ffc;
}

code.language-gorillascript, pre.language-gorillascript {
  background: #cff;
}

pre {
  max-height: 300px;
}

.reveal pre, .reveal code {
  line-height: 1.2em;
}